.header {
  background-color: rgb(201, 100, 100);
  min-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 55px;
  align-items: center;
}
.header__Name {
  padding: 7px;
}
.header__Icon {
  display: flex;
}
.header__Auth {
  padding: 7px;
}
